.wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    font-size: 24px;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    background-color: #ffffff;
    line-height: 24px;
    &:hover {
      background-color: #f4f4f4;
    }
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
