.backdrop {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal {
  cursor: auto;
  background: white;
  min-width: m#{i}n(500px, 95%);
  max-width: m#{i}n(1000px, 95%);
  max-height: 75%;
  overflow-y: auto;
  padding: 0 10px;
  border-radius: 4px;
}

.banner {
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
  h2 {
    margin: 0;
    width: calc(100% - 45px);
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    padding: 5px;
    font-size: 26px;
    line-height: 26px;
    height: 36px;
    width: 36px;
    cursor: pointer;
  }
}
