.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 50px);
  font-size: 24px;
}

.loader {
  font-size: 2em;
  color: $color-theme;
}

.noJsBlock {
  padding: 15px;
  text-align: center;
}
