.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2000;

  padding-left: 15px;

  @media (min-width: 550px) {
    padding: 0 15px;
  }

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $color-theme;
  color: white;
}

.navMenuButton {
  height: 50px;
  width: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  svg {
    height: 24px;
    width: 24px;
  }

  cursor: pointer;
  background: none;
  border: none;
  color: white;
  &:hover, &:active, &:focus {
    background-color: darken($color: $color-theme, $amount: 5);
    color: #ccddee;
    text-decoration: underline;
  }

  @media (max-width: 549px) {
    margin-left: auto;
  }
  @media (min-width: 550px) {
    display: none;
  }
}

.navLinks {
  ul {
    margin: 0;
    li {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  @media (max-width: 549px) {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10;

    transform-origin: top;
    transform: scaleY(1);
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    transition: all 0.15s ease;

    &.hidden {
      transform: scaleY(0);
      max-height: 0;
    }

    background-color: $color-theme;
    border-top: 1px solid #dadadaa8;

    ul {
      list-style: none;
      li {
        display: flex;
        a {
          width: 100%;
          padding: 13px 15px;

          &:active, &:hover, &:focus {
            background-color: darken($color: $color-theme, $amount: 5);
            color: #ccddee;
            text-decoration: underline;
          }

          &.active {
            padding-left: 8px;
            border-left: 7px solid white;
          }
        }
      }
    }
  }

  @media (min-width: 550px) {
    height: 100%;
    margin-left: 20px;
    ul {
      height: 100%;
      li {
        display: inline-flex;
        height: 100%;
        a {
          display: flex;
          height: 100%;
          padding: 0 10px;
          flex-direction: row;
          align-items: center;

          &:active, &:hover, &:focus {
            background-color: darken($color: $color-theme, $amount: 5);
            color: #ccddee;
            text-decoration: underline;
          }

          &.active {
            padding-top: 7px;
            border-bottom: 7px solid white;
          }
        }
      }
    }
  }
}

.frontpageLink {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 10px 0 8px;

  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;

  text-decoration: none;
  &:active, &:hover, &:focus {
    background-color: darken($color: $color-theme, $amount: 5);
    color: #ccddee;
    text-decoration: underline;
  }

  svg {
    margin-right: 0.3em;
    font-size: 30px;
  }

  @media (max-width: 449px) {
    font-size: m#{a}x(4.44vw, 12px);
  }
}
