body {
  min-width: 240px;
  overflow-y: scroll;
  background-color: $color-theme;
}

html, body {
  height: 100%;
}

body > div {
  min-height: 100%;
  background-color: white;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
