.settingsForm {
  label {
    span {
      display: block;
    }
    input {
      display: block;
      padding: 5px 8px;
      border-radius: 2px;
      width: 100%;
    }
  }
  .saveButton {
    margin-top: 15px;
    font-size: 16px;
    padding: 3px 5px;
  }
}
