@keyframes spin {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

@keyframes delayvisible {
  99% { visibility: hidden; }
  100% { visibility: visible; }
}

.loadingIcon {
  height: 1em;
  width: 1em;
  display: block;
  border: 0.2em solid;
  border-top: 0.2em solid transparent;
  border-radius: 50%;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.delayVisible {
  visibility: hidden;
  animation-fill-mode: none, forwards;
  animation-timing-function: linear, linear;
  animation-name: spin, delayvisible;
  animation-duration: 1.5s, 0.3s;
  animation-iteration-count: infinite, 1;
}

.loadingText {
  display: inline-block;
  padding: 0.5em;
}
